Q1 solution

In [248]:
client_id = 'c3b422c920e940fb98a1a6561e045bf7'
client_secret = '92a3ff18c2bb44f18940e9e36e5bad01'

In [249]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [250]:
spotify = spotipy.Spotify(client_credentials_manager=SpotifyClientCredentials(client_id=client_id,
                                                                              client_secret=client_secret))

In [251]:
tracks_url='https://open.spotify.com/playlist/0mhTJOr2GHvDdPtAwl8TtS?si=5d16857f2c284dfa&nd=1'
results = spotify.playlist_items(playlist_id=tracks_url)
songs = results['items']
len(songs) #41

songs[0]['track']['artists'][0]['name'] #'Barbara Pravi'
songs[0]['track']['name'] # 'Voil√†'
songs[0]['track']['id'] #'1uAOCTevGnyKIDbgZdOCnE'

'1uAOCTevGnyKIDbgZdOCnE'

In [252]:
output={'song':[],'artist':[], 'danceability':[], 'energy':[]}

for i in range(0,len(songs)):
  tracks_i = spotify.audio_features(songs[i]['track']['id'])
  output['song'].append(songs[i]['track']['name'])
  output['artist'].append(songs[i]['track']['artists'][0]['name'])
  output['danceability'].append(tracks_i[0]['danceability'])
  output['energy'].append(tracks_i[0]['energy'])

print(max(output['danceability']))
print(max(output['energy']))
index1 = output['danceability'].index(max(output['danceability'])) #34
index2= output['energy'].index(max(output['energy']))  #3


print(output['song'][index1]) #RUSSIAN WOMAN
print(output['song'][index2]) #Dark Side
print(output['artist'][index1]) #Manizha
print(output['artist'][index2]) #Blind Channel

0.89
0.955
RUSSIAN WOMAN
Dark Side
Manizha
Blind Channel

Q2 solution

In [253]:
#pip install requests
import requests

In [254]:
api_key ='ZEZvIyCFbhHoB356MLmWCcugfyuGFDGIsNmtGs6S'
base_url='https://api.open.fec.gov/v1/'

# Define query parameters
state = 'MO'  # Missouri
office_house = 'H'  # Federal House
office_senate = 'S'  # Federal Senate

# Construct API endpoints for House and Senate candidates
endpoint_house = f'candidates/?state={state}&office={office_house}&api_key={api_key}'
endpoint_senate = f'candidates/?state={state}&office={office_senate}&api_key={api_key}'

# Make API requests for House and Senate candidates
response_house = requests.get(base_url + endpoint_house)
response_senate = requests.get(base_url + endpoint_senate)

data_house = response_house.json()
data_senate = response_senate.json()

len(data_house['results']) #20
len(data_senate['results']) #20

data_house['results'][0]['candidate_id'] #'H2MO03043'
data_house['results'][0]['name'] #'ABERNATHY, NED L.'
data_house['results'][0]['party'] #'DEM'
data_house['results'][0]['district'] #'03'
data_house['results'][0]['office'] #'H'

'H'

In [255]:
output={'office':[],'candidate_id':[], 'name':[], 'party':[], 'district':[]}

for i in range(0,20):
  output['office'].append(data_house['results'][i]['office'])
  output['candidate_id'].append(data_house['results'][i]['candidate_id'])
  output['name'].append(data_house['results'][i]['name'])
  output['party'].append(data_house['results'][i]['party'])
  output['district'].append(data_house['results'][i]['district'])

for i in range(0,20):
  output['office'].append(data_senate['results'][i]['office'])
  output['candidate_id'].append(data_senate['results'][i]['candidate_id'])
  output['name'].append(data_senate['results'][i]['name'])
  output['party'].append(data_senate['results'][i]['party'])
  output['district'].append(data_senate['results'][i]['district'])


len(output['office']) #40

40

In [272]:
import pandas as pd

In [281]:
df = pd.DataFrame(output, columns = ["office", "candidate_id", "name", "party", "district"])
df.head()
df.sort_values(by = "candidate_id", ascending = False).iloc[0:30,1:5]

   candidate_id                          name party district
31    S8MO00319                 BAUER, JEROME   GRE       00
24    S8MO00061                 ALSUP, JOHN R   REP       00
22    S6MO00388                ALAM, RABBI MD  None       00
30    S6MO00370  BATSCHE, CHRISTOPHER MICHAEL   REP       00
27    S6MO00230                ASKEW, JAMES J   DEM       00
34    S4MO00250                  BELL, WESLEY   DEM       00
39    S4MO00177            BONAR, RONALD CARL   DEM       00
36    S4MO00151              BERRY, CHARLES E   DEM       00
26    S4MO00037              ASHCROFT, JOHN D   REP       00
23    S2MO00775                 ALLEN, ROBERT   REP     None
21    S2MO00635             ALAM, MD RABBI DR   DEM       00
20    S2MO00429                  AKIN, W TODD   REP       00
28    S2MO00379          BABBITT, SCOTT CRAIG   REP       00
38    S2MO00338            BOJARSKI, JEANNE F   LIB       00
35    S2MO00163             BERNSTEIN, MERTON   DEM       00
25    S2MO00064              ARNOLD, BURLEIGH   DEM       00
29    S0MO00399             BAILEY, CHARLIE L   NNE       00
33    S0MO00282                BELLER, RONALD   REP       00
32    S0MO00241             BECK, JERRY GARTH   REP       00
37    S0MO00183                    BLUNT, ROY   REP       00
10    H8MO08072         ALLEN, JOSEPH WILLIAM   DEM       08
19    H8MO06134              ANDRES, EDWARD H   DEM       06
18    H8MO06126                    ANDRES, ED   DEM       06
13    H8MO02109                AMELUNG, ROY C   REP       03
1     H6MO07086          ABRAMOVITZ, GEORGE E   DEM       07
16    H6MO02202        ANDERSON, PATRICK JOHN   DEM       02
9     H4MO07115                  ALGER, STEVE   CST       07
6     H4MO05325         ALAO, SAMUEL AKINNIYI   REP       05
11    H4MO04039          ALLIS, ALAN E (GENE)   DEM       04
15    H4MO00029       ANDERSON, MATTHEW LEWIS   REP       00

In [ ]:
# similar as what we did in the last section
# first get the data

election_year = '2020'
party = 'DEM'

endpoint_contribution = f'schedules/schedule_a/?per_page=100&two_year_transaction_period={election_year}&party={party}&api_key={api_key}'
response_contribution = requests.get(base_url + endpoint_contribution)
data_contribution = response_contribution.json()

In [ ]:
# analyse

data_contribution['results'][5]['contributor_state'] # 'OR'
data_contribution['results'][5]['contribution_receipt_amount'] #40

40.0

In [438]:
output2={'state':[],'amount':[]}

for i in range(0,100):
  output2['state'].append(data_contribution['results'][i]['contributor_state'])
  output2['amount'].append(data_contribution['results'][i]['contribution_receipt_amount'])

output2
df2 = pd.DataFrame(output2, columns = ["state", "amount"])
df2.head()
df2 = df2.dropna() # drop NAs
final = df2.groupby("state").sum().sort_values(by = "amount", ascending = False).iloc[0:5]

final['amount'] = final['amount'].astype(str)
final

        amount
state
IL      3474.0
AL     1245.65
WI        60.0
CA        50.0
OR        40.0

In [356]:
import re

In [364]:
re.split("\.", final['amount'][0]) #['3474', '0']

['3474', '0']

In [366]:
len(re.split("\.", final['amount'][0])[0]) #4 (exclude the dollar sign)

4

In [367]:
(len(re.split("\.", final['amount'][0])[0]))//3  #1
(len(re.split("\.", final['amount'][0])[0]))%3   #1

1

In [422]:
# try a little bit...
num =12345678999
num = str(num)


def sep(num):
  num = num[::-1]
  out = ''
  for i in range(0,len(num)): 
    if (i+1)%3==0:
      out = out+ "," + num[i]
    else:
      out = out+ num[i]
  return out[::-1]

sep("12345678999")

# create our own function sep() here to get the thousands separators

'123,456,789,99'

In [434]:
final

        amount
state
IL      3474.0
AL     1245.65
WI        60.0
CA        50.0
OR        40.0

In [439]:

for i in range(0,4): 
  num = re.split("\.", final['amount'][i])[0]
  final['amount'][i]=sep(num)+'.'+re.split("\.", final['amount'][i])[1]

final

         amount
state
IL      34,74.0
AL     12,45.65
WI         60.0
CA         50.0
OR         40.0

In [440]:
final['amount'] = "$"+ final['amount'] #add dollar signs
final

          amount
state
IL      $34,74.0
AL     $12,45.65
WI         $60.0
CA         $50.0
OR         $40.0